*,
*::after,
*::before {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.search-form{
display: flex;
justify-content: center;
background-color: rgb(65, 65, 209);
padding: 5px 5px;
}
.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  
  
}
.photo-card img {
  width: 220px;
  height: 150px
  ;
}

.info{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    margin-top: -4px;
    height: 28px;
    padding-top: 4px;
    
}
.info-item b{
    font-size: 7px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
}
.load-more{
  display: none;
}